.news {
    max-width: calc(100% - 33.33%);
    margin: 0 auto;
    padding-bottom: 100px;
}

.news h2 {
    font-size: 2.0rem;
    color: #1D8813;
    font-weight: normal;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding: 30px 0 15px;
    font-family: 'dm serif text';
}

.news h3 {
    white-space: pre-line;
    padding: 15px 0;
    font-size: 2.2rem;
    font-weight: normal;
}

.news .name {
    font-size: 1.8rem;

}

.news .padding {
    font-size: 0;
    display: none;
}

.newsflex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    cursor: pointer;
}

.newsflex div {
    position: relative;
    font-family: 'Noto Serif KR';

}

.newsflex div:nth-of-type(2) {
    transform: translateY(-130px);
}


.newsflex div button {
    position: absolute;
    right: 35px;
    top: 0;
    background: url('../../public/img/icon/icon_bookmark.png') no-repeat;
    color: #fff;
    border: 0;
    width: 30px;
    height: 50px;
    font-size: 2.5rem;
    padding-bottom: 20px;
    cursor: pointer;
}

.newsflex div button:focus {
    color: #F57900;

}


@media(max-width: 1750px) {
    .news {
        max-width: calc(100% - 26.041%);
    }
}

@media(max-width: 1550px) {
    .news {
        max-width: calc(100% - 15.625%);
    }
}

@media(max-width: 1350px) {
    .news {
        max-width: calc(100% - 5.208%);
    }
}

@media(max-width: 1200px) {
    .newsflex {
        justify-content: center;
        align-items: flex-start;
    }

    .newsflex>div {
        margin: 0 30px;
    }

    .newsflex div img {
        width: 100%;
    }

    .newsflex div:nth-of-type(2) {
        transform: translateY(0);
    }

    .news .padding {
        display: block;
        padding-bottom: 30px;
    }

}

@media(max-width: 768px) {
    .newsflex {
        flex-direction: column;
        align-items: center;
    }
}