.mainslide {
    display: block;
    position: relative;
    z-index: -1;
}

.mainslide .slide_img {
    width: 100%;
}

.mainslide .slide_txt {
    position: absolute;
    right: 20%;
    top: 50%;
    color: #fff;
    transform: translate(0, -50%);
    text-align: right;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.mainslide .slide_txt h2 {
    font-size: 4.0rem;
    padding-bottom: 40px;
    font-weight: normal;

}

.mainslide .slide_txt p {
    font-size: 4.0rem;
    font-family: 'Noto Serif KR';
    font-weight: 600;
}

.mainslide .slide_txt dl {

    font-family: 'Noto Serif KR';
    padding-bottom: 40px;
}

.mainslide .slide_txt dt {
    font-size: 4.0rem;
    padding-bottom: 10px;
    font-weight: 600;
}

.mainslide .slide_txt dd {
    font-size: 2.0rem;
}

.mainslide .slide_img img {
    width: 100%;
    cursor: pointer;
}

.intro {
    max-width: calc(100% - 33.33%);
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2.2rem;
    border-bottom: 2px solid #646464;
}

.names p {
    padding-bottom: 10px;
}

.names span {
    font-family: 'noto serif kr';
}

.bio {
    text-align: right;
    font-family: 'noto serif kr';

}

.bio span {
    font-weight: 700;
}

.qna {
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .qna:nth-child(1) .img {
    margin-right: 50px;
}

div .qna:nth-child(2) .img {
    margin-left: 50px;
}

.qna img {
    width: 100%;
}

.qna h2 {
    font-size: 3.0rem;
    color: #054400;
    padding-bottom: 20px;
    font-weight: normal;
}

.qna p {
    font-family: 'noto serif kr';
    font-size: 2.0rem;
}

.qna p.bt {
    padding-bottom: 50px;
    word-break: keep-all;
}

.an {
    text-align: right;
}

@media(max-width: 1500px) {
    .intro {
        flex-direction: column;
    }

    .names {
        font-size: 1.8rem;
    }

    .bio {
        text-align: left;
        font-size: 1.8rem;
        align-self: flex-end;
        margin-top: 30px;
    }

    .bio br {
        display: none;
    }


    .qna {
        max-width: calc(100% - 33.33%);
        margin: 100px auto;
    }

    .qna .img {
        width: calc(100% / 2);
    }

    .qna .txt {
        width: calc(100% / 2);
    }

    .qna h2 {
        font-size: 2.5rem;
    }

    .qna p {
        font-size: 1.5rem;
    }

    .qna p.an br {
        display: none;
    }
}

@media(max-width: 1200px) {
    .mainslide .slide_txt h2 {
        font-size: 3.0rem;
    }

    .mainslide .slide_txt p {
        font-size: 3.0rem;
    }

    .mainslide .slide_txt dt {
        font-size: 3.0rem;
    }

    .mainslide .slide_txt dd {
        font-size: 1.8rem;
    }

    .mainslide .slide_txt dl {
        padding-bottom: 20px;
    }

    .qna {
        flex-direction: column;
    }

    .qna .img {
        align-self: flex-start;
        width: 100%;
    }

    .qna .txt {
        width: 100%;
        align-self: flex-end;
        padding-top: 50px;
    }

    div .qna:nth-child(2) {
        flex-direction: column-reverse;
    }

    div .qna:nth-child(1) .img {
        margin-right: 0;
    }

    div .qna:nth-child(2) .img {
        margin-left: 0;
    }


}

@media(max-width: 998px) {
    .mainslide .slide_txt h2 {
        padding-bottom: 20px;
    }


}

@media(max-width: 768px) {
    .mainslide .slide_txt h2 {
        font-size: 2.0rem;
    }

    .mainslide .slide_txt p {
        font-size: 2.0rem;
    }

    .mainslide .slide_txt dt {
        font-size: 2.0rem;
    }

    .mainslide .slide_txt dd {
        font-size: 1.3rem;
    }


}

@media(max-width: 500px) {
    .mainslide .slide_txt h2 {
        display: none;
    }
}