html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

address,
caption,
em {
  font-weight: normal;
  font-style: normal;
}

fieldset,
img,
input {
  border: 0 none;
  outline: none;
}

input,
select,
textarea {
  vertical-align: middle;
}

body {
  font-size: 1.6rem;
  font-family: 'DM Serif Display', serif;
  color: #333;
  line-height: 1.5;
}

.inner {
  max-width: calc(100% - 33.333%);
  margin: 0 auto;
}

/*RESET CSS*/

.more {
  font-size: 2.0rem;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding: 5px 70px 5px 0;
  background: url('icon_plus.svg') no-repeat center right;
  filter: brightness(0%);
  cursor: pointer;
}

header {
  background: #EAE6E5;
  padding: 38px 0;

}

header .gnb {
  max-width: calc(100% - 33.333%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

header .gnb li {
  font-size: 1.8rem;
  cursor: pointer;
}

.login_ico {
  position: absolute;
  right: 100px;
  top: 45px;
  cursor: pointer;
}

header .gnb li.logo {
  font-size: 3.0rem;
}

.ham {
  display: none;
  cursor: pointer;
}

.mgnb_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #EAE6E5;
  z-index: 999;
  left: 0;
  top: 0;
}

.mgnb {
  padding: 100px 0;
  z-index: 9999;
}

.mgnb li {
  cursor: pointer;
  padding: 20px 0;
  text-align: center;
  font-size: 2.2rem;
  color: #666;
}

.mgnb li:hover {
  color: #000;
}

.mgnb li.logo_mgnb {
  font-size: 3.0rem;
  color: #000;
}

.mgnb li.close_mgnb {
  color: #999;
}

.login {
  position: absolute;
  top: 170px;
  background: #EAE6E5;
  width: 100%;
  height: 200px;
}

.login .box {
  max-width: calc(100% - 33.333%);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.login .under600 {
  display: none;
}

.login .box form input {
  display: block;
}

.login_txt {
  text-align: right;
  font-size: 4.0rem;
  border-right: 5px solid #C2C2C2;
  padding: 0 50px 30px 0;
}

.login_txt span {
  font-size: 3.0rem;
}

.login div {
  padding-left: 50px;
  padding-top: 10px;
}

.login button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
  background: rgba(245, 121, 0, 0.62);
  color: #fff;
  font-family: 'dm serif display';
  font-size: 2.0rem;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.login .id {
  font-size: 2.0rem;
  width: 200px;
  font-family: 'dm serif display';
  background: transparent url('icon_id.png') no-repeat left center;
  border-bottom: 1px solid #979797;
  padding: 0 0 0 20px;
}

.login .pw {
  font-size: 2.0rem;
  width: 200px;
  font-family: 'dm serif display';
  background: transparent url('icon_pw.png') no-repeat left center;
  border-bottom: 1px solid #979797;
  padding: 0 0 0 20px;
  margin-top: 20px;
}

.login .join {
  font-size: 1.5rem;
  margin-top: 20px;
}

.login .join span {
  float: right;
}

footer {
  background: #333;
  color: #Fff;
  padding: 100px 0;
}

footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns li {
  display: inline-block;
  padding-right: 20px;
  margin-top: 20px;
}

.sitemap li {
  display: inline-block;
  padding-right: 20px;
}

footer .changefont {
  font-family: 'noto serif kr';
}

address {
  padding: 5px 0;
}

@media(max-width: 1600px) {
  .login .box {
    max-width: calc(100% - 20.83%);
  }
}

@media(max-width: 1400px) {
  .login .box {
    max-width: calc(100% - 10.416%);
  }
}

@media(max-width: 1200px) {
  header .gnb {
    max-width: calc(100% - 10.416%);
  }

  .gnb li:not(.logo, .ham) {
    display: none;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .login {
    top: 150px;
  }

  .ham {
    display: block;
  }

  .login_ico {
    right: 50px;
    top: 38px;
  }
}

@media(max-width: 845px) {
  .login .box {
    justify-content: space-evenly;
    padding: 0;
  }

  .login_txt {
    text-align: left;
  }
}

@media(max-width: 786px) {
  footer .inner {
    flex-direction: column;
  }

  footer .changefont {
    text-align: center;
    padding-top: 50px;
  }
}

@media(max-width: 731px) {
  .login_txt {
    border-right: 0;
    padding: 20px 0;
    font-size: 3.0rem;
    line-height: 1;
  }

  .login_txt span {
    font-size: 2.0rem;

  }
}

@media(max-width: 600px) {
  .login .box {
    justify-content: space-between;
  }

  .login .under600 {
    display: block;
  }

  .login div {
    padding-left: 20px;
  }

  .login button {
    width: 60px;
    height: 60px;
    font-size: 1.6rem;
    letter-spacing: 0;
    margin-top: 20px;
  }
}